<nav class="gnb">
  <div class="inner">
    <ul class="grid-wrap col-4 gap-none">
      <li class="flex-wrap center active">
        <a href="../index.html">
          <span class="flex-wrap"><em>메인화면</em></span>
        </a>
      </li>
      <li class="flex-wrap center">
        <a href="">
          <span class="flex-wrap"><em>사용자전환</em></span>
        </a>
      </li>
      <li class="flex-wrap center">
        <a href="">
          <span class="flex-wrap"><em>개인정보관리</em></span>
        </a>
      </li>
      <li class="flex-wrap center">
        <a href="">
          <span class="flex-wrap"><em>인증센터</em></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
