<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap end h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="inputPinNumber2">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>PIN번호 확인</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section>
    <div class="container">
      <header class="heading-title-wrap2">
        <h3>
          PIN번호 재입력<br />
          <span>입력한 PIN번호를 한번 더 입력해 주세요.</span>
        </h3>
      </header>
      <div class="form-wrap">
        <div class="pin-pw-wrap">
          <label for="pin_pw_regist2"><em class="hidden-txt">PIN번호</em></label>
          <input type="password" id="pin_pw_regist2" autocomplete="off" pattern="" maxlength="4" inputmode="numeric" />
          <span class="grid-wrap col-4 gap20 pinNumber">
            <em class="flex-wrap center"></em>
            <em class="flex-wrap center"></em>
            <em class="flex-wrap center"></em>
            <em class="flex-wrap center"></em>
          </span>
        </div>

        <!-- PIN번호 오류 메시지 -->
        <p class="txt-error align-c">
          <em class="txt-color sub3"> 등록한 PIN번호와 일치하지 않습니다. </em>
        </p>
      </div>
    </div>
  </section>
</div>
<div class="btn-wrap container fixed">
  <button class="btn-search lg round_ bg-primary button-active-modal" data-modal-name="inputPinNumber">
    <em>PIN번호 다시 입력하기</em>
  </button>
</div>

<script>
  const pinPwRg2 = document.getElementById('pin_pw_regist2');

  pinPwRg2.addEventListener('keydown', function (event) {
    const exceptionKey = [' ', 'ArrowLeft', 'ArrowRight', 'ArrowUp', 'ArrowDown'];

    exceptionKey.forEach(function (el) {
      if (event.key == el) {
        event.preventDefault();
      }
    });
  });

  pinPwRg2.addEventListener('input', function (event) {
    const child = pinPwRg2.nextElementSibling.children;
    const value = event.target.value;
    const max = value.length;

    for (let i = 0; i < child.length; i++) {
      child[i].classList.remove('input');
    }

    for (let j = 0; j < max; j++) {
      child[j].classList.add('input');
    }
  });
</script>
