<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap end h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="errorMsg01">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>장기 미접속 안내</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section>
    <div class="inner">
      <header class="heading-title-wrap2">
        <h3 class="flex-wrap column">
          <i class="icon icon-caution"><em class="hidden-txt">경고</em></i>
          <span>(사용자ID : <em class="txt-color primary">USERID01</em>)</span>
        </h3>
      </header>
      <!-- 장기 미접속 안내 메시지-->
      <p class="txt-error align-c flex-wrap column">
        <span>
          해당 아이디는 3개월간 장기미접속하여,<br />
          접근 권한이 회수되었습니다.
        </span>
        <em> PC KICS 권한 관리자에게 문의하시기 바랍니다. </em>
      </p>
    </div>
  </section>
</div>
<div class="btn-wrap container fixed">
  <button class="btn-search lg round_ bg-primary button-close-modal" data-modal-name="errorMsg01"><em>확인</em></button>
</div>
