<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:"인증 유형 선택", theme_color:"#fff" })
  </head>
  <body>
    <div id="layout">
      <!-- page navigation -->
      @@include('../include/page_nav_02.html', {menu: false, page_title:"인증 유형 선택", path:'..'})
      <!-- // page navigation -->

      <!-- #contents -->
      <main>
        <section>
          <div class="list selectType">
            <div class="inner">
              <ul class="grid-wrap gap15">
                <li>
                  <button
                    type="button"
                    class="flex-wrap edge type-02 button-active-modal"
                    data-modal-name="confirmPassword"
                    disabled
                  >
                    <em>아이디&#47;비밀번호</em>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="flex-wrap edge type-02 button-active-modal"
                    data-modal-name="confirmCertification"
                    disabled
                  >
                    <em>행정전자서명 인증서</em>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="flex-wrap edge type-02 button-active-modal"
                    data-modal-name="confirmPattern"
                    disabled
                  >
                    <em>패턴</em>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="flex-wrap edge type-02 button-active-modal"
                    data-modal-name="confirmPinNumber"
                    disabled
                  >
                    <em>PIN 번호</em>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- 모달 -->
      <!-- 비밀번호 입력 -->
      <div class="modal full animate fast" id="modal_confirmPassword">@@include('../include/modal_confirmPassword.html')</div>

      <!-- 행정전자서명 인증서 비밀번호 입력 -->
      <div class="modal full gray animate fast" id="modal_confirmCertification">
        @@include('../include/modal_confirmCertification.html')
      </div>

      <!-- 패턴 입력 -->
      <div class="modal full animate fast" id="modal_confirmPattern">@@include('../include/modal_confirmPattern.html')</div>

      <!-- PIN번호 입력 -->
      <div class="modal full animate fast" id="modal_confirmPinNumber">@@include('../include/modal_confirmPinNumber.html')</div>
    </div>
  </body>
</html>
