<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:"인증 유형 선택", theme_color:"#fff" })
  </head>
  <body>
    <div id="layout">
      <!-- #gnb -->
      @@include('../include/gnb2.html', { menu: true, page_title:"인증 유형 선택", path:'..' })
      <!-- // #gnb -->

      <!-- #lnb -->
      @@include('../include/lnb.html')
      <!-- // #lnb -->

      <!-- #contents -->
      <main>
        <section>
          <div class="list selectType">
            <div class="container">
              <ul class="grid-wrap col-2 gap30">
                <li>
                  <button
                    type="button"
                    class="flex-wrap column edge hasIcon button-active-modal"
                    data-modal-name="confirmPassword"
                  >
                    <em>아이디&#47;비밀번호</em>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="flex-wrap column edge hasIcon button-active-modal"
                    data-modal-name="confirmCertification"
                  >
                    <em>행정전자서명 인증서</em>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="flex-wrap column edge hasIcon button-active-modal"
                    data-modal-name="confirmPattern"
                  >
                    <em>패턴</em>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="flex-wrap column edge hasIcon button-active-modal"
                    data-modal-name="confirmPinNumber"
                  >
                    <em>PIN 번호</em>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- 모달 -->
      <!-- 비밀번호 입력 -->
      <div class="modal full animate fast" id="modal-confirmPassword">@@include('../include/modal_confirmPassword.html')</div>

      <!-- 행정전자서명 인증서 비밀번호 입력 -->
      <div class="modal full gray animate fast" id="modal-confirmCertification">
        @@include('../include/modal_confirmCertification.html')
      </div>

      <!-- 패턴 입력 -->
      <div class="modal full animate fast" id="modal-confirmPattern">@@include('../include/modal_confirmPattern.html')</div>

      <!-- PIN번호 입력 -->
      <div class="modal full animate fast" id="modal-confirmPinNumber">@@include('../include/modal_confirmPinNumber.html')</div>
    </div>
  </body>
</html>
