  @mixin icon { display: inline-block; background-image: url($sprite-url); background-repeat: no-repeat; background-size:
  -webkit-calc(501px
  / 2) -webkit-calc(414px
  / 2); background-size: -moz-calc(501px
  / 2) -moz-calc(414px
  / 2); background-size: calc(501px
  / 2) calc(414px
  / 2);} .icon { @include icon;} .icon + em, .icon + b { margin-left:5px; position:relative; top:1px;}

  @mixin icon-arr-down{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(20px
  / 2); height:-moz-calc(20px
  / 2); height:calc(20px
  / 2); background-position: -webkit-calc(-290px
  / 2) -webkit-calc(-120px
  / 2); background-position: -moz-calc(-290px
  / 2) -moz-calc(-120px
  / 2); background-position: calc(-290px
  / 2) calc(-120px
  / 2); } .icon-arr-down
  { @include icon-arr-down; }
  @mixin icon-back{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(48px
  / 2); height:-moz-calc(48px
  / 2); height:calc(48px
  / 2); background-position: -webkit-calc(-472px
  / 2) -webkit-calc(-165px
  / 2); background-position: -moz-calc(-472px
  / 2) -moz-calc(-165px
  / 2); background-position: calc(-472px
  / 2) calc(-165px
  / 2); } .icon-back
  { @include icon-back; }
  @mixin icon-bookmark{ width:-webkit-calc(24px
  / 2); width:-moz-calc(24px
  / 2); width:calc(24px
  / 2); height:-webkit-calc(28px
  / 2); height:-moz-calc(28px
  / 2); height:calc(28px
  / 2); background-position: -webkit-calc(-366px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(-366px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(-366px
  / 2) calc(-290px
  / 2); } .icon-bookmark
  { @include icon-bookmark; }
  @mixin icon-caution{ width:-webkit-calc(104px
  / 2); width:-moz-calc(104px
  / 2); width:calc(104px
  / 2); height:-webkit-calc(104px
  / 2); height:-moz-calc(104px
  / 2); height:calc(104px
  / 2); background-position: -webkit-calc(-363px
  / 2) -webkit-calc(-165px
  / 2); background-position: -moz-calc(-363px
  / 2) -moz-calc(-165px
  / 2); background-position: calc(-363px
  / 2) calc(-165px
  / 2); } .icon-caution
  { @include icon-caution; }
  @mixin icon-certification-active{ width:-webkit-calc(52px
  / 2); width:-moz-calc(52px
  / 2); width:calc(52px
  / 2); height:-webkit-calc(52px
  / 2); height:-moz-calc(52px
  / 2); height:calc(52px
  / 2); background-position: -webkit-calc(-290px
  / 2) -webkit-calc(-63px
  / 2); background-position: -moz-calc(-290px
  / 2) -moz-calc(-63px
  / 2); background-position: calc(-290px
  / 2) calc(-63px
  / 2); } .icon-certification-active
  { @include icon-certification-active; }
  @mixin icon-certification{ width:-webkit-calc(52px
  / 2); width:-moz-calc(52px
  / 2); width:calc(52px
  / 2); height:-webkit-calc(52px
  / 2); height:-moz-calc(52px
  / 2); height:calc(52px
  / 2); background-position: -webkit-calc(-347px
  / 2) -webkit-calc(-63px
  / 2); background-position: -moz-calc(-347px
  / 2) -moz-calc(-63px
  / 2); background-position: calc(-347px
  / 2) calc(-63px
  / 2); } .icon-certification
  { @include icon-certification; }
  @mixin icon-close{ width:-webkit-calc(50px
  / 2); width:-moz-calc(50px
  / 2); width:calc(50px
  / 2); height:-webkit-calc(50px
  / 2); height:-moz-calc(50px
  / 2); height:calc(50px
  / 2); background-position: -webkit-calc(-231px
  / 2) -webkit-calc(-347px
  / 2); background-position: -moz-calc(-231px
  / 2) -moz-calc(-347px
  / 2); background-position: calc(-231px
  / 2) calc(-347px
  / 2); } .icon-close
  { @include icon-close; }
  @mixin icon-finish{ width:-webkit-calc(160px
  / 2); width:-moz-calc(160px
  / 2); width:calc(160px
  / 2); height:-webkit-calc(160px
  / 2); height:-moz-calc(160px
  / 2); height:calc(160px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(0px
  / 2); background-position: calc(0px
  / 2) calc(0px
  / 2); } .icon-finish
  { @include icon-finish; }
  @mixin icon-home-active{ width:-webkit-calc(52px
  / 2); width:-moz-calc(52px
  / 2); width:calc(52px
  / 2); height:-webkit-calc(52px
  / 2); height:-moz-calc(52px
  / 2); height:calc(52px
  / 2); background-position: -webkit-calc(-404px
  / 2) -webkit-calc(-63px
  / 2); background-position: -moz-calc(-404px
  / 2) -moz-calc(-63px
  / 2); background-position: calc(-404px
  / 2) calc(-63px
  / 2); } .icon-home-active
  { @include icon-home-active; }
  @mixin icon-home{ width:-webkit-calc(52px
  / 2); width:-moz-calc(52px
  / 2); width:calc(52px
  / 2); height:-webkit-calc(52px
  / 2); height:-moz-calc(52px
  / 2); height:calc(52px
  / 2); background-position: -webkit-calc(-121px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(-121px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(-121px
  / 2) calc(-290px
  / 2); } .icon-home
  { @include icon-home; }
  @mixin icon-login-type01{ width:-webkit-calc(108px
  / 2); width:-moz-calc(108px
  / 2); width:calc(108px
  / 2); height:-webkit-calc(120px
  / 2); height:-moz-calc(120px
  / 2); height:calc(120px
  / 2); background-position: -webkit-calc(-125px
  / 2) -webkit-calc(-165px
  / 2); background-position: -moz-calc(-125px
  / 2) -moz-calc(-165px
  / 2); background-position: calc(-125px
  / 2) calc(-165px
  / 2); } .icon-login-type01
  { @include icon-login-type01; }
  @mixin icon-login-type02{ width:-webkit-calc(116px
  / 2); width:-moz-calc(116px
  / 2); width:calc(116px
  / 2); height:-webkit-calc(124px
  / 2); height:-moz-calc(124px
  / 2); height:calc(124px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(0px
  / 2) calc(-290px
  / 2); } .icon-login-type02
  { @include icon-login-type02; }
  @mixin icon-login-type03{ width:-webkit-calc(120px
  / 2); width:-moz-calc(120px
  / 2); width:calc(120px
  / 2); height:-webkit-calc(120px
  / 2); height:-moz-calc(120px
  / 2); height:calc(120px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-165px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-165px
  / 2); background-position: calc(0px
  / 2) calc(-165px
  / 2); } .icon-login-type03
  { @include icon-login-type03; }
  @mixin icon-login-type04{ width:-webkit-calc(120px
  / 2); width:-moz-calc(120px
  / 2); width:calc(120px
  / 2); height:-webkit-calc(80px
  / 2); height:-moz-calc(80px
  / 2); height:calc(80px
  / 2); background-position: -webkit-calc(-165px
  / 2) -webkit-calc(-63px
  / 2); background-position: -moz-calc(-165px
  / 2) -moz-calc(-63px
  / 2); background-position: calc(-165px
  / 2) calc(-63px
  / 2); } .icon-login-type04
  { @include icon-login-type04; }
  @mixin icon-logo{ width:-webkit-calc(336px
  / 2); width:-moz-calc(336px
  / 2); width:calc(336px
  / 2); height:-webkit-calc(58px
  / 2); height:-moz-calc(58px
  / 2); height:calc(58px
  / 2); background-position: -webkit-calc(-165px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(-165px
  / 2) -moz-calc(0px
  / 2); background-position: calc(-165px
  / 2) calc(0px
  / 2); } .icon-logo
  { @include icon-logo; }
  @mixin icon-next-active-wh{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(44px
  / 2); height:-moz-calc(44px
  / 2); height:calc(44px
  / 2); background-position: -webkit-calc(-472px
  / 2) -webkit-calc(-218px
  / 2); background-position: -moz-calc(-472px
  / 2) -moz-calc(-218px
  / 2); background-position: calc(-472px
  / 2) calc(-218px
  / 2); } .icon-next-active-wh
  { @include icon-next-active-wh; }
  @mixin icon-next-active{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(44px
  / 2); height:-moz-calc(44px
  / 2); height:calc(44px
  / 2); background-position: -webkit-calc(-300px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(-300px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(-300px
  / 2) calc(-290px
  / 2); } .icon-next-active
  { @include icon-next-active; }
  @mixin icon-next-black{ width:-webkit-calc(24px
  / 2); width:-moz-calc(24px
  / 2); width:calc(24px
  / 2); height:-webkit-calc(36px
  / 2); height:-moz-calc(36px
  / 2); height:calc(36px
  / 2); background-position: -webkit-calc(-341px
  / 2) -webkit-calc(-347px
  / 2); background-position: -moz-calc(-341px
  / 2) -moz-calc(-347px
  / 2); background-position: calc(-341px
  / 2) calc(-347px
  / 2); } .icon-next-black
  { @include icon-next-black; }
  @mixin icon-next-wh{ width:-webkit-calc(20px
  / 2); width:-moz-calc(20px
  / 2); width:calc(20px
  / 2); height:-webkit-calc(36px
  / 2); height:-moz-calc(36px
  / 2); height:calc(36px
  / 2); background-position: -webkit-calc(-370px
  / 2) -webkit-calc(-347px
  / 2); background-position: -moz-calc(-370px
  / 2) -moz-calc(-347px
  / 2); background-position: calc(-370px
  / 2) calc(-347px
  / 2); } .icon-next-wh
  { @include icon-next-wh; }
  @mixin icon-next{ width:-webkit-calc(16px
  / 2); width:-moz-calc(16px
  / 2); width:calc(16px
  / 2); height:-webkit-calc(28px
  / 2); height:-moz-calc(28px
  / 2); height:calc(28px
  / 2); background-position: -webkit-calc(-395px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(-395px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(-395px
  / 2) calc(-290px
  / 2); } .icon-next
  { @include icon-next; }
  @mixin icon-notice{ width:-webkit-calc(50px
  / 2); width:-moz-calc(50px
  / 2); width:calc(50px
  / 2); height:-webkit-calc(50px
  / 2); height:-moz-calc(50px
  / 2); height:calc(50px
  / 2); background-position: -webkit-calc(-286px
  / 2) -webkit-calc(-347px
  / 2); background-position: -moz-calc(-286px
  / 2) -moz-calc(-347px
  / 2); background-position: calc(-286px
  / 2) calc(-347px
  / 2); } .icon-notice
  { @include icon-notice; }
  @mixin icon-privacy-active{ width:-webkit-calc(50px
  / 2); width:-moz-calc(50px
  / 2); width:calc(50px
  / 2); height:-webkit-calc(52px
  / 2); height:-moz-calc(52px
  / 2); height:calc(52px
  / 2); background-position: -webkit-calc(-121px
  / 2) -webkit-calc(-347px
  / 2); background-position: -moz-calc(-121px
  / 2) -moz-calc(-347px
  / 2); background-position: calc(-121px
  / 2) calc(-347px
  / 2); } .icon-privacy-active
  { @include icon-privacy-active; }
  @mixin icon-privacy{ width:-webkit-calc(50px
  / 2); width:-moz-calc(50px
  / 2); width:calc(50px
  / 2); height:-webkit-calc(52px
  / 2); height:-moz-calc(52px
  / 2); height:calc(52px
  / 2); background-position: -webkit-calc(-176px
  / 2) -webkit-calc(-347px
  / 2); background-position: -moz-calc(-176px
  / 2) -moz-calc(-347px
  / 2); background-position: calc(-176px
  / 2) calc(-347px
  / 2); } .icon-privacy
  { @include icon-privacy; }
  @mixin icon-search{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(32px
  / 2); height:-moz-calc(32px
  / 2); height:calc(32px
  / 2); background-position: -webkit-calc(-333px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(-333px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(-333px
  / 2) calc(-290px
  / 2); } .icon-search
  { @include icon-search; }
  @mixin icon-star{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(40px
  / 2); height:-moz-calc(40px
  / 2); height:calc(40px
  / 2); background-position: -webkit-calc(-461px
  / 2) -webkit-calc(-63px
  / 2); background-position: -moz-calc(-461px
  / 2) -moz-calc(-63px
  / 2); background-position: calc(-461px
  / 2) calc(-63px
  / 2); } .icon-star
  { @include icon-star; }
  @mixin icon-symbol{ width:-webkit-calc(120px
  / 2); width:-moz-calc(120px
  / 2); width:calc(120px
  / 2); height:-webkit-calc(108px
  / 2); height:-moz-calc(108px
  / 2); height:calc(108px
  / 2); background-position: -webkit-calc(-238px
  / 2) -webkit-calc(-165px
  / 2); background-position: -moz-calc(-238px
  / 2) -moz-calc(-165px
  / 2); background-position: calc(-238px
  / 2) calc(-165px
  / 2); } .icon-symbol
  { @include icon-symbol; }
  @mixin icon-user-transform-active{ width:-webkit-calc(56px
  / 2); width:-moz-calc(56px
  / 2); width:calc(56px
  / 2); height:-webkit-calc(48px
  / 2); height:-moz-calc(48px
  / 2); height:calc(48px
  / 2); background-position: -webkit-calc(-178px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(-178px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(-178px
  / 2) calc(-290px
  / 2); } .icon-user-transform-active
  { @include icon-user-transform-active; }
  @mixin icon-user-transform{ width:-webkit-calc(56px
  / 2); width:-moz-calc(56px
  / 2); width:calc(56px
  / 2); height:-webkit-calc(48px
  / 2); height:-moz-calc(48px
  / 2); height:calc(48px
  / 2); background-position: -webkit-calc(-239px
  / 2) -webkit-calc(-290px
  / 2); background-position: -moz-calc(-239px
  / 2) -moz-calc(-290px
  / 2); background-position: calc(-239px
  / 2) calc(-290px
  / 2); } .icon-user-transform
  { @include icon-user-transform; }
