<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap end h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="confirmPattern">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>인증확인 (패턴)</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section>
    <div class="inner">
      <header class="heading-title-wrap2">
        <h3>
          패턴 입력<br />
          <span>현재 등록된 패턴을 입력해주세요.</span>
        </h3>
      </header>
      <div class="form-wrap">
        <div class="grid-wrap pattern-wrap"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>

        <!-- 패턴 등록 메시지 -->
        <p class="txt-error align-c">
          <em>패턴을 그려주세요.</em>
        </p>

        <!-- 패턴 입력 메시지 
        <p class="txt-error align-c">
          <em class="txt-color sub3">4개 이상의 점을 연결해주세요.</em>
        </p>
        -->

        <!-- 패턴 오류 메시지 
       <p class="txt-error align-c">
        <em class="txt-color sub3">
          패턴이 일치하지 않습니다. (2&#47;5)<br />
          5회 연속으로 오류 시 APP이 종료됩니다.
        </em>
      </p>
        -->
      </div>
    </div>
  </section>
</div>
<div class="btn-wrap fixed">
  <button class="btn-search lg bg-primary button-close-modal" data-modal-name="confirmPattern">
    <em>다른 인증 유형 선택</em>
  </button>
</div>
